.clubArtworkList {
    display: flex;
    flex-direction: column;
    gap: 31px;
    
    .club {
        display: flex;
        flex-direction: row;
        gap: 34px;
        flex: 1;
        
        .logo {
            width: 284px;
            height: auto;
        }
        .nameAndDescription {
            display: flex;
            flex-direction: column;
            gap: 12px;

            width: 100%;

            .name {
                width: 627px;        
            }
        }
    }

    .artworks {

    }
}