.container {
    margin: 0px auto;
    padding: 80px;
    min-height: calc(100vh - 70px);
    @media screen and (max-width: 1024px) {
        padding: 20px;
    }
    background: #F8FBFF;
    width: min(1790px, 90vw);
    box-sizing: border-box;
}