@import "../fonts/nanum-gothic.css";
@import "../fonts/hakgyoansim-namu.css";
@import "../fonts/hakgyoansim-bunpil.css";

nav.navbar {
    background: #ffffffb3;

    @media screen and (max-width: 1024px) {
        .desktop {
            display: none;
        }        
    }
    @media screen and (min-width: 1025px) {
        .mobile {
            display: none;
        }
    }
}