@import "./fonts/bookk-myungjo.css";

.main {
  display: block;
  text-decoration: none;

  background-size: cover;
  background-image: url(../img/sky-background.png);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 76px 24px 56px 24px;
  box-sizing: border-box;
}

main.main p {
  padding: 0px;
  margin: 0px;
}

.introductionText {
  font-family: 'Bookk Myungjo';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

.universities {
  font-family: 'Bookk Myungjo';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}