@import "../fonts/hakgyoansim-namu.css";
@import "../fonts/bookk-gothic.css";

.viewer {
    .desktop {
        @media screen and (max-width: 1024px) {
            display: none;
        }

        display: flex;
        flex-direction: row;
        width: 100%;

        .leftPage, .rightPage {
            flex: 1;
            img {
                max-width: 100%;
            }
            &.leftPage {
                text-align: right;
            }
            &.rightPage {
                text-align: left;
            }
        }
    }
    .mobile {
        @media screen and (min-width: 1025px) {
            display: none;
        }
        width: 100%;

        .page {
            position: relative;
            width: fit-content;
            max-width: 100%;

            img {
                width: 100%;
                height: auto;
            }

            .left, .right {
                position: absolute;
                top: 0px;
                
                height: 100%;
                width: 50%;

                &.left {
                    left: 0px;
                }
                &.right {
                    right: 0px;
                }
            }
        }
    }
}

.comic {
    display: flex;
    flex-direction: row;

    .viewer {
        flex: 1;
    }

    header {
        display: flex;
        flex-direction: row;
        inline-size: fit-content;
        & > * {
            writing-mode: vertical-lr;
        }

        .artist {
            font-family: 'Bookk Gothic';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: -0.06em;
    
            color: #000000;
            
        }

        .title {
            display: flex;
            flex-direction: row;
            gap: 30px;
            
            margin-top: 10px;
            width: fit-content;
            height: max-content;

            font-family: 'Hakgyoansim Namu';
            font-style: normal;
            font-weight: 400;
            font-size: 96px;
            /* or 42% */
            letter-spacing: -0.06em;
            
            color: #000000;
            
            .categories {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 27px;

                list-style-type: none;

                margin: 39px 0px 0px 0px;
                padding: 0px;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    box-sizing: border-box;
                    height: 167px;
                    width: 77px;
                    border-radius: 50%;

                    font-family: 'Bookk Gothic';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 40px;
                    letter-spacing: -0.06em;

                    color: #000000;

                    border: 2.5px solid rgba(0, 0, 0, 0.533333);
                }
            }
        }
    }
}