@font-face {
    font-family: 'Hakgyoansim Namu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimNamuL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}