@import "../fonts/cafe24-moyamoya.css";
@import "../fonts/nanum-barunpen.css";

.commentBox {
    display: block;
    width: 521.7px;
    height: 434px;

    .profileImg {
        border-radius: 500px;
        width: 125px;
        height: 125px;
        z-index: 300;
        position: relative;
        top: 67px;
        right: -25px;
    }

    .commentCard {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 374px;
        background: #FFFFFF;
        border-top: 8px solid #44C0F1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: #2D2D2D;

        .cardContainer {
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            width: 90%;
            height: 100%;
            
            .name {
                font-size: 48px;
                font-family: 'Cafe24 Moyamoya';
            }

            .comment {
                font-family: 'NanumBarunpen';
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
    
}







